.right {
  background-color: "white";
  height: 100%;
  width: 50%;
  margin-left: 50%;
}

.header-options:hover {
  cursor: pointer;
  text-decoration: underline;
}

.btn:hover {
  cursor: pointer;
}

.img-wrapper {
  border: 1px solid black;
  width: 90%;
  height: 0;
  padding-bottom: 80%;
  margin-bottom: 4%;
  margin-top: 30px;
  overflow: hidden;
  /* display: flex; */
  /* justify-content: center; */
}
img {
  width: 100%;
  /* height: fit-content; */
  object-fit: cover;
  object-position: 50% 50%;
}
@media (max-width: 600px) {
  .img-wrapper {
    width: 90%;
    padding-bottom: 80%;
  }
}
